@font-face {
  font-family: 'open_sanssemibold';
  src: url('/es/fonts/opensans-semibold-webfont.eot');
  src: url('/es/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/es/fonts/opensans-semibold-webfont.woff') format('woff'),
  url('/es/fonts/opensans-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_prolight';
  src: url('/es/fonts/sourcesanspro-light-webfont.eot');
  src: url('/es/fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/es/fonts/sourcesanspro-light-webfont.woff') format('woff'),
  url('/es/fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
  url('/es/fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedbold';
  src: url('/es/fonts/robotocondensed-bold-webfont.eot');
  src: url('/es/fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/es/fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
  url('/es/fonts/robotocondensed-bold-webfont.woff') format('woff'),
  url('/es/fonts/robotocondensed-bold-webfont.ttf') format('truetype'),
  url('/es/fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto_condensedbold_italic';
  src: url('/es/fonts/robotocondensed-bolditalic-webfont.eot');
  src: url('/es/fonts/robotocondensed-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/es/fonts/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
  url('/es/fonts/robotocondensed-bolditalic-webfont.woff') format('woff'),
  url('/es/fonts/robotocondensed-bolditalic-webfont.ttf') format('truetype'),
  url('/es/fonts/robotocondensed-bolditalic-webfont.svg#roboto_condensedbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto_condenseditalic';
  src: url('/es/fonts/robotocondensed-italic-webfont.eot');
  src: url('/es/fonts/robotocondensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/es/fonts/robotocondensed-italic-webfont.woff2') format('woff2'),
  url('/es/fonts/robotocondensed-italic-webfont.woff') format('woff'),
  url('/es/fonts/robotocondensed-italic-webfont.ttf') format('truetype'),
  url('/es/fonts/robotocondensed-italic-webfont.svg#roboto_condenseditalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto_condensedlight';
  src: url('/es/fonts/robotocondensed-light-webfont.eot');
  src: url('/es/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/es/fonts/robotocondensed-light-webfont.woff2') format('woff2'),
  url('/es/fonts/robotocondensed-light-webfont.woff') format('woff'),
  url('/es/fonts/robotocondensed-light-webfont.ttf') format('truetype'),
  url('/es/fonts/robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto_condensedlight_italic';
  src: url('/es/fonts/robotocondensed-lightitalic-webfont.eot');
  src: url('/es/fonts/robotocondensed-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/es/fonts/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
  url('/es/fonts/robotocondensed-lightitalic-webfont.woff') format('woff'),
  url('/es/fonts/robotocondensed-lightitalic-webfont.ttf') format('truetype'),
  url('/es/fonts/robotocondensed-lightitalic-webfont.svg#roboto_condensedlight_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto_condensedregular';
  src: url('/es/fonts/robotocondensed-regular-webfont.eot');
  src: url('/es/fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/es/fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
  url('/es/fonts/robotocondensed-regular-webfont.woff') format('woff'),
  url('/es/fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
  url('/es/fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
